<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">
<body>
    <h2>I'll grow up to be a map someday <3</h2>

    <ul>
        <li>IBOP
<!--            <a th:href = "@{'/map/ibop'}" th:text: = "IBOP"></a>-->
        </li>
        <li>Library
<!--            <a th:href = "@{'/map/library'}" th:text: = "Library"></a>-->
        </li>
        <li>
            <a th:href = "@{'/map/park'}">Park</a>
        </li>
        <li>Record Store
<!--            <a th:href = "@{'/map/recordStore'}" th:text: = "Record Store"></a>-->
        </li>
        <li>
            <a th:href = "@{'/map/testLocation'}">Test Location</a>
        </li>
    </ul>

</body>
</html>