<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz Questions // Question Questin'</title>
</head>
<body>
    <h1>Create Quiz Questions and Answers</h1>
    <form th:action="@{/newQuiz/questions}" method = "post">
        <ol>
            <li th:each = "question : ${quiz.questions}">
                <div>
                    <h2>Question type</h2>
                    <input type = "radio" th:name = "'questionType' + ${question.questionNum}">
                    <label th:value = "multiChoice">Multiple choice; four possible answers, one correct answer</label>
<!--                TODO
                    When in Angular, change question prompt and answers prompt to only appear after question type has been selected-->
                </div>

                <div>
                    <h2>Question prompt:</h2>
                    <input type = "text" th:name = "'questionName' + ${question.questionNum}">
                </div>

                <div>
                    <h2>Answers:</h2>
                </div>

                <div>
                    <input type = "text" th:name = "'answer' + ${question.questionNum} + 'A'">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "'isCorrect' + ${question.questionNum} + 'A'">
                        <label value = "correct" th:text = "Yes"></label>
                        <label value = "incorrect" th:text = "No"></label>
                </div>

                <div>
                    <input type = "text" th:name = "'answer' + ${question.questionNum} + 'B'">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "'isCorrect' + ${question.questionNum} + 'B'">
                        <label value = "correct" th:text = "Yes"></label>
                        <label value = "incorrect" th:text = "No"></label>
                </div>

                <div>
                    <input type = "text" th:name = "'answer' + ${question.questionNum} + 'C'">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "'isCorrect' + ${question.questionNum} + 'C'">
                        <label value = "correct" th:text = "Yes"></label>
                        <label value = "incorrect" th:text = "No"></label>
                </div>

                <div>
                    <input type = "text" th:name = "'answer' + ${question.questionNum} + 'D'">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "'isCorrect' + ${question.questionNum} + 'D'">
                        <label value = "correct" th:text = "Yes"></label>
                        <label value = "incorrect" th:text = "No"></label>
                </div>

            </li>
        </ol>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>