<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz Questions // Question Questin'</title>
</head>
<body>
    <h1>Create Quiz Questions and Answers</h1>
    <form th:action="@{/newQuiz/questions}" method = "post">
                <div>
                    <h2>Question type</h2>
                    <input type = "radio" th:name = "questionType">
                    <label th:value = "multiChoice">Multiple choice; four possible answers, one correct answer</label>
<!--                TODO
                    When in Angular, change question prompt and answers prompt to only appear after question type has been selected-->
                </div>

                <div>
                    <h2>Question prompt:</h2>
                    <input type = "text" th:name = "questionName">
                </div>

                <div>
                    <h2>Answers:</h2>
                </div>

                <div>
                    <input type = "text" th:name = "answerA">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "correctAns">
                        <label th:for = "correctAns" value = "ansA" th:text = "Yes"></label>
                </div>

                <div>
                    <input type = "text" th:name = "answerB">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "correctAns">
                        <label th:for = "correctAns" value = "ansB" th:text = "Yes"></label>
                </div>

                <div>
                    <input type = "text" th:name = "answerC">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "correctAns">
                        <label th:for = "correctAns" value = "ansC" th:text = "Yes"></label>
                </div>

                <div>
                    <input type = "text" th:name = "answerD">
                    <p>Is this the correct answer?</p>
                        <input type = "radio" th:name = "correctAns">
                        <label th:for = "correctAns" value = "ansD" th:text = "Yes"></label>
                </div>
        <input type="submit" value="Submit"/>
    </form>

    <input type = "hidden" th:name = "quizId" th:value = "quiz.id">
    <input type = "hidden" th:name = "questionId" th:value = "question.id">
</body>
</html>