<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Quiz // Question Questin'</title>
</head>
<body class = "container">
    <h1 th:text = "'Review Quiz: ' + ${quiz.name}">Review Quiz</h1>
    <ol>
        <li th:each = "question : ${quiz.questions}">
            <h2 th:text = ${question.name}>Name</h2>
            <table th:each = "answer : ${question.answers}">
                <tr th:text = "${answer.name}"></tr>
                <tr th:if = "${answer.getCorrect()}"> (I'm the right answer!)</tr>
            </table>
            <a th:href = "@{questions/{current}of{total}(current=${question.questionNum + 1}, total=${quiz.numQuestions})}">
                <button>Edit</button>
            </a>
        </li>
    </ol>

    <a th:href = "@{'/'}">
    <button>Finish quiz</button>
    </a>

</body>
</html>