<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <form th:action="@{/encounters/testEncounter}" method = "post">
        <p th:text = "'Question: ' + ${question.name}">Question: What's the right answer?</p>
        <p>
            <span th:each = "answer : ${question.answers}">
                <input type = "radio" name = "selectedAnswer" th:value = "${answer}"/>
                <label th:text = "${answer.name}"></label>
            </span>
        </p>
        <input type="submit" value="Submit"/>
    </form>

    </body>
</html>